.Header {
    width: 1110px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.link {
    margin-left: 100px;
    color: black;
    font-size: 24px;
}

.searchInput {
    margin-left: 100px;
    padding: 6px;
    border-radius: 8px;
    width: 300px;
    border: 1px solid black;
}